* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

a {
  color: #cecece;
  text-decoration: none;
  transition: color 0.2s;

  &:not(.nohover):hover,
  &:focus {
    position: relative;
    top: 1px;
    color: #c74438;
  }
}

/* Header/logo Title */
.header {
  padding: 1em;
  //margin: 1em;
  //text-align: center;
  background: #1abc9c;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .9em 1em;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.menu {
  width: .4em;
  height: .4em;
  border-radius: 50%;
  background-color: white;
  display: none;
  margin: .15em;
}

#btnControl {
    display: none;
}

#btnControl:checked ~ .responsive-menu {
    display: flex;
}

label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: right;
  background: #ddd;
}
