* {
  box-sizing: border-box;
}

html {
  background: url(/public/bk.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3d3d3d;
}

/* Body */
body {
  font-family: Arial;
  margin: 0;
}

/* Links */
a {
  color: #cecece;
  text-decoration: none;
  transition: color 0.2s;

  &:not(.nohover):hover,
  &:focus {
    position: relative;
    top: 1px;
    color: #c74438;
  }
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
