/* Navigation bar */
.navbar {
  display: flex;
  //background-color: #333;
  background-color:rgba(61, 61, 61, 0.7);
}

/* Navigation bar links */
.navbar a {
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .6em .8em;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.menu {
  width: .3em;
  height: .3em;
  border-radius: 50%;
  background-color: white;
  display: none;
  margin: .15em;
}

.responsive-menu {
  align-items: center;
  justify-content: center;
}

#btnControl {
  display: none;
}

#btnControl:checked ~ .responsive-menu {
  display: flex;
  align-items: stretch; 
}

label {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
